interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/health
    response:
      body:
        string: '{"detail":"Valid API key."}'
      headers:
        allow:
          - GET, HEAD, OPTIONS
        content-type:
          - application/json
        x-app-version:
          - v2.30.2
        x-secrets-engine-version:
          - 2.89.0
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.gitguardian.com/v1/api_tokens/self
    response:
      body:
        string: '{"id":"5ddaad0c-5a0c-4674-beb5-1cd198d13360","name":"test-token","workspace_id":1,"type":"personal_access_token","status":"active","created_at":"2023-01-01T00:00:00Z","scopes":["scan"]}'
      headers:
        content-type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
